
CREATE TABLE batches (
	id CHAR(32) NOT NULL, 
	name VARCHAR(255), 
	PRIMARY KEY (id)
)

;


CREATE TABLE messes (
	id CHAR(32) NOT NULL, 
	name VARCHAR(255), 
	status VARCHAR(255), 
	PRIMARY KEY (id)
)

;


CREATE TABLE users (
	id CHAR(32) NOT NULL, 
	name VARCHAR(255), 
	phone VARCHAR(255), 
	email VARCHAR(255), 
	hashed_password VARCHAR(255), 
	`role` VARCHAR(255), 
	batch_id CHAR(32), 
	mess_id CHAR(32), 
	notification_enabled BOOL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(batch_id) REFERENCES batches (id), 
	FOREIGN KEY(mess_id) REFERENCES messes (id)
)

;


CREATE TABLE weekly_menus (
	id CHAR(32) NOT NULL, 
	mess_id CHAR(32), 
	day VARCHAR(255), 
	breakfast_item VARCHAR(255), 
	lunch_item VARCHAR(255), 
	dinner_item VARCHAR(255), 
	PRIMARY KEY (id), 
	FOREIGN KEY(mess_id) REFERENCES messes (id)
)

;


CREATE TABLE attendance (
	id CHAR(32) NOT NULL, 
	student_id CHAR(32), 
	date DATE, 
	status VARCHAR(255), 
	PRIMARY KEY (id), 
	FOREIGN KEY(student_id) REFERENCES users (id)
)

;


CREATE TABLE food_submissions (
	id CHAR(32) NOT NULL, 
	student_id CHAR(32), 
	date DATE, 
	mess_id CHAR(32), 
	batch_id CHAR(32), 
	breakfast BOOL, 
	lunch BOOL, 
	dinner BOOL, 
	confirmed BOOL, 
	submitted_at DATETIME, 
	confirmed_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(student_id) REFERENCES users (id), 
	FOREIGN KEY(mess_id) REFERENCES messes (id), 
	FOREIGN KEY(batch_id) REFERENCES batches (id)
)

;


CREATE TABLE push_subscriptions (
	id CHAR(32) NOT NULL, 
	user_id CHAR(32), 
	endpoint VARCHAR(255), 
	p256dh VARCHAR(255), 
	auth VARCHAR(255), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
)

;
